.ptDonate {
  cursor: pointer;
  color: hsl(228, 95%, 75%);
  padding: 6px 12px;
  background: #849dfc20;
  font: 15px/20px BlinkMacSystemFont, -apple-system, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  border: 1px solid hsl(232, 35%, 65%);
  border-radius: 16px;
  text-decoration: none;
  height: fit-content;
  transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  white-space: nowrap;
}

.ptDonate:hover {
  border-color: hsl(232, 35%, 45%) !important;
  color: hsl(228, 95%, 65%) !important;
}
